USE [master]
GO
/****** Object:  Database [kaan]    Script Date: 24.01.2021 11:23:29 ******/
CREATE DATABASE [kaan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kaan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\kaan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kaan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\kaan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kaan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kaan]
GO
USE [kaan]
GO
/****** Object:  Table [dbo].[Filmler]    Script Date: 24.01.2021 11:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmler](
	[Id] [int] NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[YapimYılı] [date] NOT NULL,
	[Gisesi] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Filmler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmlerKarakter]    Script Date: 24.01.2021 11:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmlerKarakter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmlerId] [int] NOT NULL,
	[KarakterId] [int] NOT NULL,
 CONSTRAINT [PK_FilmlerKarakter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmlerOyuncu]    Script Date: 24.01.2021 11:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmlerOyuncu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmlerId] [int] NOT NULL,
	[OyuncuId] [int] NOT NULL,
 CONSTRAINT [PK_FilmlerOyuncu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmlerTurler]    Script Date: 24.01.2021 11:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmlerTurler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmlerId] [int] NOT NULL,
	[TurlerId] [int] NOT NULL,
 CONSTRAINT [PK_FilmlerTurler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmlerYonetmen]    Script Date: 24.01.2021 11:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmlerYonetmen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmlerId] [int] NOT NULL,
	[YonetmenId] [int] NOT NULL,
 CONSTRAINT [PK_FilmlerYonetmen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Karakter]    Script Date: 24.01.2021 11:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karakter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdiSoyadi] [varchar](50) NOT NULL,
	[OyuncuId] [int] NULL,
 CONSTRAINT [PK_Karakter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oyuncu]    Script Date: 24.01.2021 11:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyuncu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Soyadi] [varchar](50) NOT NULL,
	[DogumTarihi] [varchar](50) NULL,
 CONSTRAINT [PK_Oyuncu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turler]    Script Date: 24.01.2021 11:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Turler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetmen]    Script Date: 24.01.2021 11:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetmen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Soyadi] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Yonetmen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FilmlerKarakter]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerKarakter_Filmler] FOREIGN KEY([FilmlerId])
REFERENCES [dbo].[Filmler] ([Id])
GO
ALTER TABLE [dbo].[FilmlerKarakter] CHECK CONSTRAINT [FK_FilmlerKarakter_Filmler]
GO
ALTER TABLE [dbo].[FilmlerKarakter]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerKarakter_Karakter] FOREIGN KEY([KarakterId])
REFERENCES [dbo].[Karakter] ([Id])
GO
ALTER TABLE [dbo].[FilmlerKarakter] CHECK CONSTRAINT [FK_FilmlerKarakter_Karakter]
GO
ALTER TABLE [dbo].[FilmlerOyuncu]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerOyuncu_Filmler] FOREIGN KEY([FilmlerId])
REFERENCES [dbo].[Filmler] ([Id])
GO
ALTER TABLE [dbo].[FilmlerOyuncu] CHECK CONSTRAINT [FK_FilmlerOyuncu_Filmler]
GO
ALTER TABLE [dbo].[FilmlerOyuncu]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerOyuncu_Oyuncu] FOREIGN KEY([OyuncuId])
REFERENCES [dbo].[Oyuncu] ([Id])
GO
ALTER TABLE [dbo].[FilmlerOyuncu] CHECK CONSTRAINT [FK_FilmlerOyuncu_Oyuncu]
GO
ALTER TABLE [dbo].[FilmlerTurler]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerTurler_Filmler] FOREIGN KEY([FilmlerId])
REFERENCES [dbo].[Filmler] ([Id])
GO
ALTER TABLE [dbo].[FilmlerTurler] CHECK CONSTRAINT [FK_FilmlerTurler_Filmler]
GO
ALTER TABLE [dbo].[FilmlerTurler]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerTurler_Turler] FOREIGN KEY([TurlerId])
REFERENCES [dbo].[Turler] ([Id])
GO
ALTER TABLE [dbo].[FilmlerTurler] CHECK CONSTRAINT [FK_FilmlerTurler_Turler]
GO
ALTER TABLE [dbo].[FilmlerYonetmen]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerYonetmen_FilmlerYonetmen] FOREIGN KEY([FilmlerId])
REFERENCES [dbo].[Filmler] ([Id])
GO
ALTER TABLE [dbo].[FilmlerYonetmen] CHECK CONSTRAINT [FK_FilmlerYonetmen_FilmlerYonetmen]
GO
ALTER TABLE [dbo].[FilmlerYonetmen]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerYonetmen_Yonetmen] FOREIGN KEY([YonetmenId])
REFERENCES [dbo].[Yonetmen] ([Id])
GO
ALTER TABLE [dbo].[FilmlerYonetmen] CHECK CONSTRAINT [FK_FilmlerYonetmen_Yonetmen]
GO
ALTER TABLE [dbo].[Karakter]  WITH CHECK ADD  CONSTRAINT [FK_Karakter_Oyuncu] FOREIGN KEY([OyuncuId])
REFERENCES [dbo].[Oyuncu] ([Id])
GO
ALTER TABLE [dbo].[Karakter] CHECK CONSTRAINT [FK_Karakter_Oyuncu]
GO
USE [master]
GO
